.product{
    width: 25rem;
float: left;
 border: 1px solid black;
 padding: 20px;
 margin: 10px; 
 height: 220px;
 
}
.flex{
    display: flex;
    margin-bottom:10px ;
}
.product h5{
    font-size: 15px;
}
.product img{
    width: 90px;
    margin-right: 10px;

}
.product p{
    margin-top: -10px;
}